.container {
   display: inline-block;
 }

 .typed-out {
   overflow: hidden;
   border-right: 0.15em solid #8e6eea;
   white-space: nowrap;
   width: 0;
   animation: typing 1.7s steps(20, end) forwards, blink 0.8s infinite;
 }

 @keyframes typing {
   from {
     width: 0;
   }
   to {
     width: 100%;
   }
 }

 @keyframes blink {
   from {
     border-color: transparent;
   }
   to {
     border-color: #8e6eea;
   }
 }